@model IEnumerable<HabitatAir>

@{
    ViewData["Title"] = "List of Air Animals";
}

<div class="">
    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Animals</a></li>
            <li class="breadcrumb-item active" aria-current="page">Air</li>
        </ol>
    </nav>
    <h1 class="fs-2 text-black">List of Air Animals</h1>
</div>

<section class="col-12 d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="m-1 card d-flex justify-content-center align-items-center alert alert-info text-black" style="height: 230px;">
                <h2>@item.Id</h2>
                <h3>@item.Name</h3>
                <h4>Max Altitude: @item.MaxAltitude</h4>
                <a asp-controller="Home" asp-action="Visit" asp-route-id="@item.Id" class="btn btn-info mt-2 text-white">Visit</a>
            </div>
        </div>

    }

</section>


